body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login-container,
.task-manager {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px); /* Full width minus padding */
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

.login-btn{
  width: 100px;
}